.container {
  padding: 42px 28px 148px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #F7F6F6;
  border-radius: 20px;
}

.container > input {
  outline: 0;
  padding-bottom: 3px;
  margin-bottom: 41px;
  border-width: 0 0 1px;
  border-color: #CACDD8;
  background-color: #F7F6F6;

  &::placeholder {
    color: #000000;
    font-size: 14px;
  }
}

.header {
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.total {
  padding-top: 35px;
  display: flex;
  justify-content: center;
  font-weight: lighter;
  font-size: 24px;

  & span {
    font-weight: 500
  }
}

.button {
  margin-top: 18px;
  padding: 10px 90px 11px;
  border-radius: 20px;
  border: 1px solid #040404
}
