.layout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
