.header {
  padding: 16px 0;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  background: #CCCCCC;
}

.interior {
  font-weight: 600;
  size: 36px;
  color: #fff;
}

.elements {
  display: flex;
  color: #fff;
}
