.item {
  display: flex;
  flex-direction: column;
}

.name {
  margin: 10px 0 8px 0;
  font-weight: 500;
  font-size: 24px;
  color: #000;
}

.description {
  margin-bottom: 12px;
  font-size: 14px;
  color: #888888;
}

.price {
  font-weight: 500;
  font-size: 24px;
  color: #050505;
}
