img {
  display: block;
  max-width: 100%;
}

.App {
  margin: 0 120px;
  font-family: Montserrat, sans-serif, Times, serif;
  display: grid;
}

@media screen and (max-width: 820px) {
  .App {
    margin: 0 24px;
  }
}

@media screen and (max-width: 450px) {
  .App {
    margin: 0;
    justify-content: center;
  }
}
